*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(33, 158, 33);
    
}
.road{
   max-width: 1000px;
   width: 100%;
   height: 100vh;
   background-color: rgb(80, 78, 78);
   margin: 0 auto;
   position: relative;
   overflow: hidden;
}
.score{
    width: 200px;
    height: 80px;
    background-color: rgb(146, 222, 161);
    position: absolute;
    top: 8%;
    left: 4%;
    transform: translate(-10%,-10%);
    color: rgb(35, 67, 46);
    font-size: 25px;
    font-family:cursive;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 44px 3px rgb(0 0 0 / 49%);
    border-radius: 5px;
}
.lines{
    width: 10px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left:495px;

}
.car {
    z-index: 1;
    background-image: url(./img/mycar.png);
    width:100px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 163px;
    position: absolute;
    bottom: 0;
    left: 13px;
    display: none;
}
.enemy{
    z-index: 1;
    background-image: url(./img/pink.png);
    width:100px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    position: absolute;
    
}
.start,.end {
    width: 300px;
    height:80px;
    background-color: rgb(222, 146, 146);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -1px 44px 3px rgba(0,0,0,0.49);
    border-radius: 5px;
    
}
.end{
    display: none;
    text-align: center;
    line-height:64px ;
    height:250px;
    width: 500px;
    z-index: 10;
}